{"openapi":"3.0.3","info":{"title":"E-commerce API — Projeto da Turma","description":"Backend multi-tenant para os projetos de e-commerce. Cada grupo usa sua API key (header **X-API-Key**) e, opcionalmente, o RM do aluno (header **X-Student-RM**) em cada chamada.","version":"1.0.0"},"servers":[{"url":"https://api.mockmerce.com.br","description":"Produção"},{"url":"http://localhost:3333","description":"Local (desenvolvimento)"}],"components":{"securitySchemes":{"apiKey":{"type":"apiKey","name":"X-API-Key","in":"header","description":"API key do grupo (fornecida pelo professor)."},"studentRm":{"type":"apiKey","name":"X-Student-RM","in":"header","description":"RM do aluno que está fazendo a chamada (para rastreio)."},"customerToken":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"Token do cliente final, obtido em POST /auth/login."},"studentToken":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"Token do aluno (admin web), obtido em POST /store/auth/login. Vale no lugar da X-API-Key."},"adminToken":{"type":"apiKey","name":"X-Admin-Token","in":"header","description":"Token mestre do professor (só você)."}},"schemas":{}},"paths":{"/v1/store/auth/login":{"post":{"summary":"Login do aluno (login = RM; senha inicial = RM)","tags":["Loja (aluno)"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["rm","password"],"properties":{"rm":{"type":"string"},"password":{"type":"string"}}}}}},"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"token":{"type":"string"},"student":{"type":"object","properties":{"rm":{"type":"string"},"name":{"type":"string"},"groupId":{"type":"string"},"group":{"type":"string"},"mustChangePassword":{"type":"boolean"}}},"mustChangePassword":{"type":"boolean"}}}}}}}}},"/v1/store/auth/me":{"get":{"summary":"Dados do aluno logado","tags":["Loja (aluno)"],"security":[{"studentToken":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"rm":{"type":"string"},"name":{"type":"string"},"groupId":{"type":"string"},"group":{"type":"string"},"mustChangePassword":{"type":"boolean"}}}}}}}}},"/v1/store/auth/change-password":{"post":{"summary":"Troca a senha (obrigatória no 1º acesso)","tags":["Loja (aluno)"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["currentPassword","newPassword"],"properties":{"currentPassword":{"type":"string"},"newPassword":{"type":"string","minLength":6}}}}}},"security":[{"studentToken":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/categories":{"get":{"summary":"Lista categorias","tags":["Catálogo"],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}},"post":{"summary":"Cria categoria","tags":["Catálogo"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","minLength":1}}}}}},"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/brands":{"get":{"summary":"Lista marcas","tags":["Catálogo"],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}},"post":{"summary":"Cria marca","tags":["Catálogo"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","minLength":1}}}}}},"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/collections":{"get":{"summary":"Lista coleções","tags":["Catálogo"],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}},"post":{"summary":"Cria coleção","tags":["Catálogo"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","minLength":1}}}}}},"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/tags":{"get":{"summary":"Lista tags","tags":["Catálogo"],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/products":{"get":{"summary":"Lista produtos (filtros + paginação)","tags":["Catálogo"],"parameters":[{"schema":{"type":"string"},"in":"query","name":"search","required":false},{"schema":{"type":"string"},"in":"query","name":"categoryId","required":false},{"schema":{"type":"string"},"in":"query","name":"brandId","required":false},{"schema":{"type":"string"},"in":"query","name":"collectionId","required":false},{"schema":{"type":"string"},"in":"query","name":"tag","required":false},{"schema":{"type":"string","enum":["DRAFT","PUBLISHED","HIDDEN"]},"in":"query","name":"state","required":false},{"schema":{"type":"number"},"in":"query","name":"minPrice","required":false},{"schema":{"type":"number"},"in":"query","name":"maxPrice","required":false},{"schema":{"type":"integer","minimum":1,"default":1},"in":"query","name":"page","required":false},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":20},"in":"query","name":"pageSize","required":false}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}},"post":{"summary":"Cria produto (SIMPLE ou VARIABLE)","tags":["Catálogo"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"type":{"type":"string","enum":["SIMPLE","VARIABLE"]},"name":{"type":"string","minLength":1},"description":{"type":"string"},"slug":{"type":"string"},"categoryId":{"type":"string"},"brandId":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}},"collectionIds":{"type":"array","items":{"type":"string"}},"state":{"type":"string","enum":["DRAFT","PUBLISHED","HIDDEN"]},"publishAt":{"type":"string","format":"date-time"},"metaTitle":{"type":"string"},"metaDescription":{"type":"string"},"sku":{"type":"string"},"price":{"type":"number","minimum":0},"stock":{"type":"integer","minimum":0},"minStock":{"type":"integer","minimum":0},"barcode":{"type":"string"},"weightGr":{"type":"integer","minimum":0},"heightMm":{"type":"integer","minimum":0},"widthMm":{"type":"integer","minimum":0},"depthMm":{"type":"integer","minimum":0},"options":{"type":"array","items":{"type":"object","required":["name","values"],"properties":{"name":{"type":"string"},"values":{"type":"array","items":{"type":"string"}}}}},"variants":{"type":"array","items":{"type":"object","required":["sku","price"],"properties":{"sku":{"type":"string"},"price":{"type":"number","minimum":0},"stock":{"type":"integer","minimum":0},"minStock":{"type":"integer","minimum":0},"barcode":{"type":"string"},"weightGr":{"type":"integer"},"heightMm":{"type":"integer"},"widthMm":{"type":"integer"},"depthMm":{"type":"integer"},"options":{"type":"object","additionalProperties":{"type":"string"}}}}}}}}}},"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/products/{id}":{"get":{"summary":"Detalha um produto","tags":["Catálogo"],"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}},"put":{"summary":"Atualiza um produto","tags":["Catálogo"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"slug":{"type":"string"},"categoryId":{"type":"string","nullable":true},"brandId":{"type":"string","nullable":true},"tags":{"type":"array","items":{"type":"string"}},"collectionIds":{"type":"array","items":{"type":"string"}},"state":{"type":"string","enum":["DRAFT","PUBLISHED","HIDDEN"]},"publishAt":{"type":"string","format":"date-time","nullable":true},"metaTitle":{"type":"string"},"metaDescription":{"type":"string"}}}}}},"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}},"delete":{"summary":"Remove um produto","tags":["Catálogo"],"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/products/{id}/relations":{"put":{"summary":"Define produtos relacionados/cross-sell/upsell","tags":["Catálogo"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["kind","relatedIds"],"properties":{"kind":{"type":"string","enum":["RELATED","CROSS_SELL","UPSELL"]},"relatedIds":{"type":"array","items":{"type":"string"}}}}}}},"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/products/{id}/variants":{"post":{"summary":"Adiciona uma variante a um produto variável","tags":["Catálogo"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["sku","price","options"],"properties":{"sku":{"type":"string"},"price":{"type":"number","minimum":0},"stock":{"type":"integer","minimum":0},"minStock":{"type":"integer","minimum":0},"barcode":{"type":"string"},"weightGr":{"type":"integer"},"heightMm":{"type":"integer"},"widthMm":{"type":"integer"},"depthMm":{"type":"integer"},"options":{"type":"object","additionalProperties":{"type":"string"}}}}}}},"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/variants/{id}":{"patch":{"summary":"Atualiza uma variante","tags":["Catálogo"],"description":"O estoque NÃO é editado aqui — use os endpoints de Estoque (/variants/:id/stock/receive|adjust).","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"price":{"type":"number","minimum":0},"minStock":{"type":"integer","minimum":0},"barcode":{"type":"string"},"active":{"type":"boolean"},"weightGr":{"type":"integer"},"heightMm":{"type":"integer"},"widthMm":{"type":"integer"},"depthMm":{"type":"integer"}}}}}},"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}},"delete":{"summary":"Remove uma variante (não a última)","tags":["Catálogo"],"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/products/{id}/images":{"post":{"summary":"Adiciona imagem (produto ou variante)","tags":["Catálogo"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["url"],"properties":{"url":{"type":"string"},"variantId":{"type":"string"},"position":{"type":"integer"},"isPrimary":{"type":"boolean"}}}}}},"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/images/{id}":{"delete":{"summary":"Remove imagem","tags":["Catálogo"],"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/warehouses":{"get":{"summary":"Lista depósitos","tags":["Estoque"],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}},"post":{"summary":"Cria um depósito","tags":["Estoque"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","minLength":1}}}}}},"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/variants/{id}/stock":{"get":{"summary":"Saldo por depósito (onHand/reserved/disponível)","tags":["Estoque"],"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/variants/{id}/stock/receive":{"post":{"summary":"Entrada de estoque","tags":["Estoque"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["quantity"],"properties":{"quantity":{"type":"integer","minimum":1},"warehouseId":{"type":"string"},"reason":{"type":"string"}}}}}},"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/variants/{id}/stock/adjust":{"post":{"summary":"Ajuste de estoque (define o onHand do depósito)","tags":["Estoque"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["onHand"],"properties":{"onHand":{"type":"integer","minimum":0},"warehouseId":{"type":"string"},"reason":{"type":"string"}}}}}},"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/variants/{id}/stock/movements":{"get":{"summary":"Histórico de movimentação","tags":["Estoque"],"parameters":[{"schema":{"type":"string","enum":["RECEIVE","SALE","ADJUST","RESERVE","RELEASE"]},"in":"query","name":"type","required":false},{"schema":{"type":"integer","minimum":1,"default":1},"in":"query","name":"page","required":false},{"schema":{"type":"integer","minimum":1,"maximum":200,"default":50},"in":"query","name":"pageSize","required":false},{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/inventory/counts":{"post":{"summary":"Inventário: submete contagem e gera ajustes","tags":["Estoque"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["counts"],"properties":{"counts":{"type":"array","items":{"type":"object","required":["variantId","warehouseId","counted"],"properties":{"variantId":{"type":"string"},"warehouseId":{"type":"string"},"counted":{"type":"integer","minimum":0}}}}}}}}},"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/inventory/run-expiration":{"post":{"summary":"Força a expiração de reservas vencidas do grupo (útil para testes)","tags":["Estoque"],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/webhooks/events":{"get":{"summary":"Lista os tipos de evento disponíveis","tags":["Webhooks"],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/webhooks":{"get":{"summary":"Lista os webhooks do grupo","tags":["Webhooks"],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}},"post":{"summary":"Registra um webhook (o signingSecret é mostrado UMA vez)","tags":["Webhooks"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["url"],"properties":{"url":{"type":"string","description":"HTTPS. Interno/metadata é bloqueado (anti-SSRF)."},"description":{"type":"string"},"events":{"type":"array","items":{"type":"string"},"description":"Tipos assinados; ['*'] = todos."}}}}}},"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/webhooks/{id}":{"get":{"summary":"Detalha um webhook","tags":["Webhooks"],"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}},"patch":{"summary":"Atualiza um webhook","tags":["Webhooks"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"url":{"type":"string"},"description":{"type":"string"},"events":{"type":"array","items":{"type":"string"}},"active":{"type":"boolean"}}}}}},"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}},"delete":{"summary":"Remove um webhook","tags":["Webhooks"],"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/webhooks/{id}/rotate-secret":{"post":{"summary":"Gera um novo signingSecret (invalida o anterior)","tags":["Webhooks"],"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/webhooks/{id}/ping":{"post":{"summary":"Envia um evento de teste (webhook.ping) ao endpoint","tags":["Webhooks"],"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/webhooks/deliveries":{"get":{"summary":"Histórico de entregas (inspector)","tags":["Webhooks"],"parameters":[{"schema":{"type":"string"},"in":"query","name":"endpointId","required":false},{"schema":{"type":"string","enum":["PENDING","SUCCESS","DEAD_LETTER"]},"in":"query","name":"status","required":false},{"schema":{"type":"integer","minimum":1,"default":1},"in":"query","name":"page","required":false},{"schema":{"type":"integer","minimum":1,"maximum":200,"default":50},"in":"query","name":"pageSize","required":false}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/webhooks/deliveries/{id}/resend":{"post":{"summary":"Reenvia uma entrega manualmente","tags":["Webhooks"],"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/webhooks/deliver-now":{"post":{"summary":"Força uma passada do relay para o grupo (útil em testes)","tags":["Webhooks"],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/sandbox/payments":{"post":{"summary":"[FAKE] Cria uma cobrança (PIX/cartão/boleto)","tags":["Sandbox"],"description":"Cartão resolve na hora; PIX/boleto ficam PENDING até o settle. Use orderId para ligar a um pedido.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["method"],"properties":{"method":{"type":"string","enum":["CREDIT_CARD","PIX","BOLETO"]},"amount":{"type":"number","minimum":0},"orderId":{"type":"string"},"installments":{"type":"integer","minimum":1,"maximum":12},"simulate":{"type":"string","enum":["approve","decline"],"default":"approve"}}}}}},"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/sandbox/payments/{id}":{"get":{"summary":"[FAKE] Consulta o status de uma cobrança","tags":["Sandbox"],"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/sandbox/payments/{id}/settle":{"post":{"summary":"[FAKE] Confirma (settle) uma cobrança PIX/boleto → dispara webhook","tags":["Sandbox"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"simulate":{"type":"string","enum":["approve","decline"],"default":"approve"}}}}}},"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/sandbox/subscriptions":{"post":{"summary":"[FAKE] Cria uma assinatura recorrente","tags":["Sandbox"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["amount","intervalDays"],"properties":{"amount":{"type":"number","minimum":0},"intervalDays":{"type":"integer","minimum":1},"customerId":{"type":"string"}}}}}},"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/sandbox/subscriptions/{id}/advance":{"post":{"summary":"[FAKE] Avança um ciclo da assinatura (gera cobrança + webhook)","tags":["Sandbox"],"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/sandbox/shipping/quote":{"post":{"summary":"[FAKE] Cotação de frete por CEP (PAC/SEDEX/Transportadora/Retirada)","tags":["Sandbox"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["cepDestino"],"properties":{"cepDestino":{"type":"string"},"orderId":{"type":"string","description":"Usa o peso das variantes do pedido."},"items":{"type":"array","items":{"type":"object","properties":{"weightGr":{"type":"integer"},"quantity":{"type":"integer"}}}}}}}}},"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/sandbox/shipments":{"post":{"summary":"[FAKE] Despacha um pedido (cria envio + rastreamento)","tags":["Sandbox"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["orderId","service","cepDestino"],"properties":{"orderId":{"type":"string"},"service":{"type":"string","enum":["PAC","SEDEX","TRANSPORTADORA","RETIRADA_LOJA"]},"cepDestino":{"type":"string"}}}}}},"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/sandbox/shipments/{id}":{"get":{"summary":"[FAKE] Detalha um envio + rastreamento","tags":["Sandbox"],"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/sandbox/shipments/{id}/advance":{"post":{"summary":"[FAKE] Avança o rastreamento (postado→trânsito→entregue) + webhook","tags":["Sandbox"],"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/reports/sales":{"get":{"summary":"Resumo de vendas + série diária (receita de pedidos pagos)","tags":["Relatórios"],"parameters":[{"schema":{"type":"string"},"in":"query","name":"from","required":false},{"schema":{"type":"string"},"in":"query","name":"to","required":false},{"schema":{"type":"string","enum":["json","csv"],"default":"json"},"in":"query","name":"format","required":false}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/reports/top-products":{"get":{"summary":"Produtos/variantes mais vendidos","tags":["Relatórios"],"parameters":[{"schema":{"type":"string"},"in":"query","name":"from","required":false},{"schema":{"type":"string"},"in":"query","name":"to","required":false},{"schema":{"type":"string","enum":["qty","revenue"],"default":"qty"},"in":"query","name":"by","required":false},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":10},"in":"query","name":"limit","required":false},{"schema":{"type":"string","enum":["json","csv"],"default":"json"},"in":"query","name":"format","required":false}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/reports/customers":{"get":{"summary":"Clientes: recorrentes vs novos","tags":["Relatórios"],"parameters":[{"schema":{"type":"string"},"in":"query","name":"from","required":false},{"schema":{"type":"string"},"in":"query","name":"to","required":false},{"schema":{"type":"string","enum":["json","csv"],"default":"json"},"in":"query","name":"format","required":false}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/reports/inventory":{"get":{"summary":"Estoque: abaixo do mínimo / sem estoque","tags":["Relatórios"],"parameters":[{"schema":{"type":"string","enum":["json","csv"],"default":"json"},"in":"query","name":"format","required":false}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/auth/register":{"post":{"summary":"Cadastra um cliente final e já retorna o token","tags":["Auth Cliente"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name","email","password"],"properties":{"name":{"type":"string","minLength":1},"email":{"type":"string","format":"email"},"password":{"type":"string","minLength":6},"document":{"type":"string","description":"CPF ou CNPJ (opcional, validado)"}}}}}},"security":[{"apiKey":[],"studentRm":[]}],"responses":{"201":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"token":{"type":"string"},"customer":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"email":{"type":"string"}}}}}}}}}}},"/v1/auth/login":{"post":{"summary":"Login do cliente final","tags":["Auth Cliente"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["email","password"],"properties":{"email":{"type":"string","format":"email"},"password":{"type":"string"}}}}}},"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"token":{"type":"string"},"customer":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"email":{"type":"string"}}}}}}}}}}},"/v1/auth/me":{"get":{"summary":"Dados do cliente logado","tags":["Auth Cliente"],"security":[{"apiKey":[],"customerToken":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"email":{"type":"string"}}}}}}}}},"/v1/customers/me/addresses":{"get":{"summary":"Lista os endereços","tags":["Cliente"],"security":[{"apiKey":[],"customerToken":[]}],"responses":{"200":{"description":"Default Response"}}},"post":{"summary":"Adiciona um endereço","tags":["Cliente"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["cep","street","number","city","state"],"properties":{"type":{"type":"string","enum":["SHIPPING","BILLING"],"default":"SHIPPING"},"isDefault":{"type":"boolean"},"recipientName":{"type":"string"},"cep":{"type":"string"},"street":{"type":"string"},"number":{"type":"string"},"complement":{"type":"string"},"district":{"type":"string"},"city":{"type":"string"},"state":{"type":"string","minLength":2,"maxLength":2}}}}}},"security":[{"apiKey":[],"customerToken":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/customers/me/addresses/{id}":{"delete":{"summary":"Remove um endereço","tags":["Cliente"],"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"apiKey":[],"customerToken":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/customers/me/favorites":{"get":{"summary":"Lista os favoritos","tags":["Cliente"],"security":[{"apiKey":[],"customerToken":[]}],"responses":{"200":{"description":"Default Response"}}},"post":{"summary":"Adiciona aos favoritos","tags":["Cliente"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["variantId"],"properties":{"variantId":{"type":"string"}}}}}},"security":[{"apiKey":[],"customerToken":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/customers/me/favorites/{variantId}":{"delete":{"summary":"Remove dos favoritos","tags":["Cliente"],"parameters":[{"schema":{"type":"string"},"in":"path","name":"variantId","required":true}],"security":[{"apiKey":[],"customerToken":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/cart":{"get":{"summary":"Retorna o carrinho ativo","tags":["Carrinho"],"security":[{"apiKey":[],"customerToken":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"items":{"type":"array","items":{"type":"object","properties":{"variantId":{"type":"string"},"name":{"type":"string"},"sku":{"type":"string"},"unitPrice":{"type":"number"},"quantity":{"type":"integer"},"subtotal":{"type":"number"}}}},"total":{"type":"number"},"itemCount":{"type":"integer"}}}}}}}},"delete":{"summary":"Esvazia o carrinho","tags":["Carrinho"],"security":[{"apiKey":[],"customerToken":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"items":{"type":"array","items":{"type":"object","properties":{"variantId":{"type":"string"},"name":{"type":"string"},"sku":{"type":"string"},"unitPrice":{"type":"number"},"quantity":{"type":"integer"},"subtotal":{"type":"number"}}}},"total":{"type":"number"},"itemCount":{"type":"integer"}}}}}}}}},"/v1/cart/items":{"post":{"summary":"Adiciona uma variante ao carrinho","tags":["Carrinho"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["variantId","quantity"],"properties":{"variantId":{"type":"string"},"quantity":{"type":"integer","minimum":1}}}}}},"security":[{"apiKey":[],"customerToken":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"items":{"type":"array","items":{"type":"object","properties":{"variantId":{"type":"string"},"name":{"type":"string"},"sku":{"type":"string"},"unitPrice":{"type":"number"},"quantity":{"type":"integer"},"subtotal":{"type":"number"}}}},"total":{"type":"number"},"itemCount":{"type":"integer"}}}}}}}}},"/v1/cart/items/{variantId}":{"patch":{"summary":"Altera a quantidade de um item","tags":["Carrinho"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["quantity"],"properties":{"quantity":{"type":"integer","minimum":0}}}}}},"parameters":[{"schema":{"type":"string"},"in":"path","name":"variantId","required":true}],"security":[{"apiKey":[],"customerToken":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"items":{"type":"array","items":{"type":"object","properties":{"variantId":{"type":"string"},"name":{"type":"string"},"sku":{"type":"string"},"unitPrice":{"type":"number"},"quantity":{"type":"integer"},"subtotal":{"type":"number"}}}},"total":{"type":"number"},"itemCount":{"type":"integer"}}}}}}}},"delete":{"summary":"Remove um item","tags":["Carrinho"],"parameters":[{"schema":{"type":"string"},"in":"path","name":"variantId","required":true}],"security":[{"apiKey":[],"customerToken":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"items":{"type":"array","items":{"type":"object","properties":{"variantId":{"type":"string"},"name":{"type":"string"},"sku":{"type":"string"},"unitPrice":{"type":"number"},"quantity":{"type":"integer"},"subtotal":{"type":"number"}}}},"total":{"type":"number"},"itemCount":{"type":"integer"}}}}}}}}},"/v1/orders/checkout":{"post":{"summary":"Cria um pedido a partir do carrinho ativo e RESERVA o estoque (PENDING)","tags":["Pedidos"],"security":[{"apiKey":[],"customerToken":[]}],"responses":{"201":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string"},"total":{"type":"number"},"items":{"type":"array","items":{"type":"object","properties":{"variantId":{"type":"string"},"productName":{"type":"string"},"variantName":{"type":"string","nullable":true},"sku":{"type":"string"},"unitPrice":{"type":"number"},"quantity":{"type":"integer"},"subtotal":{"type":"number"}}}},"payment":{"type":"object","nullable":true,"properties":{"status":{"type":"string"},"method":{"type":"string"},"amount":{"type":"number"},"transactionId":{"type":"string"}}},"createdAt":{"type":"string"}}}}}}}}},"/v1/orders":{"get":{"summary":"Lista pedidos do cliente logado","tags":["Pedidos"],"security":[{"apiKey":[],"customerToken":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string"},"total":{"type":"number"},"items":{"type":"array","items":{"type":"object","properties":{"variantId":{"type":"string"},"productName":{"type":"string"},"variantName":{"type":"string","nullable":true},"sku":{"type":"string"},"unitPrice":{"type":"number"},"quantity":{"type":"integer"},"subtotal":{"type":"number"}}}},"payment":{"type":"object","nullable":true,"properties":{"status":{"type":"string"},"method":{"type":"string"},"amount":{"type":"number"},"transactionId":{"type":"string"}}},"createdAt":{"type":"string"}}}}}}}}}},"/v1/orders/{id}":{"get":{"summary":"Detalha um pedido","tags":["Pedidos"],"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"apiKey":[],"customerToken":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string"},"total":{"type":"number"},"items":{"type":"array","items":{"type":"object","properties":{"variantId":{"type":"string"},"productName":{"type":"string"},"variantName":{"type":"string","nullable":true},"sku":{"type":"string"},"unitPrice":{"type":"number"},"quantity":{"type":"integer"},"subtotal":{"type":"number"}}}},"payment":{"type":"object","nullable":true,"properties":{"status":{"type":"string"},"method":{"type":"string"},"amount":{"type":"number"},"transactionId":{"type":"string"}}},"createdAt":{"type":"string"}}}}}}}}},"/v1/orders/{id}/pay":{"post":{"summary":"Paga um pedido (simulado). Se aprovado, confirma a baixa da reserva.","tags":["Pagamento"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["method"],"properties":{"method":{"type":"string","enum":["CREDIT_CARD","PIX","BOLETO"]},"simulate":{"type":"string","enum":["approve","decline"],"default":"approve"}}}}}},"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"apiKey":[],"customerToken":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string"},"total":{"type":"number"},"items":{"type":"array","items":{"type":"object","properties":{"variantId":{"type":"string"},"productName":{"type":"string"},"variantName":{"type":"string","nullable":true},"sku":{"type":"string"},"unitPrice":{"type":"number"},"quantity":{"type":"integer"},"subtotal":{"type":"number"}}}},"payment":{"type":"object","nullable":true,"properties":{"status":{"type":"string"},"method":{"type":"string"},"amount":{"type":"number"},"transactionId":{"type":"string"}}},"createdAt":{"type":"string"}}}}}}}}},"/v1/orders/{id}/cancel":{"post":{"summary":"Cancela um pedido pendente e LIBERA a reserva","tags":["Pedidos"],"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"apiKey":[],"customerToken":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string"},"total":{"type":"number"},"items":{"type":"array","items":{"type":"object","properties":{"variantId":{"type":"string"},"productName":{"type":"string"},"variantName":{"type":"string","nullable":true},"sku":{"type":"string"},"unitPrice":{"type":"number"},"quantity":{"type":"integer"},"subtotal":{"type":"number"}}}},"payment":{"type":"object","nullable":true,"properties":{"status":{"type":"string"},"method":{"type":"string"},"amount":{"type":"number"},"transactionId":{"type":"string"}}},"createdAt":{"type":"string"}}}}}}}}},"/v1/orders/{id}/timeline":{"get":{"summary":"Linha do tempo do pedido","tags":["Pedidos"],"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"apiKey":[],"customerToken":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/orders/{id}/reorder":{"post":{"summary":"Recria o carrinho a partir de um pedido (comprar novamente)","tags":["Pedidos"],"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"apiKey":[],"customerToken":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/store/orders":{"get":{"summary":"Lista todos os pedidos do grupo","tags":["Pedidos (loja)"],"parameters":[{"schema":{"type":"string"},"in":"query","name":"status","required":false},{"schema":{"type":"string"},"in":"query","name":"customerId","required":false},{"schema":{"type":"integer","minimum":1,"default":1},"in":"query","name":"page","required":false},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":20},"in":"query","name":"pageSize","required":false}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}},"post":{"summary":"Cria um pedido manual para um cliente (reserva estoque)","tags":["Pedidos (loja)"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["customerId","items"],"properties":{"customerId":{"type":"string"},"items":{"type":"array","minItems":1,"items":{"type":"object","required":["variantId","quantity"],"properties":{"variantId":{"type":"string"},"quantity":{"type":"integer","minimum":1}}}},"markAsPaid":{"type":"boolean","default":false}}}}}},"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/store/orders/{id}":{"get":{"summary":"Detalha um pedido (com timeline e comentários internos)","tags":["Pedidos (loja)"],"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/store/orders/{id}/transition":{"post":{"summary":"Avança o status (FULFILLED/SHIPPED/DELIVERED)","tags":["Pedidos (loja)"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["to"],"properties":{"to":{"type":"string","enum":["FULFILLED","SHIPPED","DELIVERED"]},"note":{"type":"string"}}}}}},"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/store/orders/{id}/refund":{"post":{"summary":"Reembolsa um pedido pago: reverte o estoque + estorna","tags":["Pedidos (loja)"],"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/store/orders/{id}/comments":{"get":{"summary":"Lista comentários internos (só a loja vê)","tags":["Pedidos (loja)"],"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}},"post":{"summary":"Adiciona um comentário interno","tags":["Pedidos (loja)"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["body"],"properties":{"body":{"type":"string","minLength":1}}}}}},"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/store/carts/run-abandonment":{"post":{"summary":"Marca carrinhos abandonados do grupo (evento + e-mail)","tags":["Clientes (loja)"],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/store/customers":{"get":{"summary":"Lista os clientes do grupo","tags":["Clientes (loja)"],"parameters":[{"schema":{"type":"string"},"in":"query","name":"search","required":false},{"schema":{"type":"integer","minimum":1,"default":1},"in":"query","name":"page","required":false},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":20},"in":"query","name":"pageSize","required":false}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/customer-segments":{"get":{"summary":"Lista segmentos","tags":["Clientes (loja)"],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}},"post":{"summary":"Cria um segmento","tags":["Clientes (loja)"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","minLength":1}}}}}},"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/customer-segments/{id}/members":{"get":{"summary":"Lista membros do segmento","tags":["Clientes (loja)"],"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}},"post":{"summary":"Adiciona um cliente ao segmento","tags":["Clientes (loja)"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["customerId"],"properties":{"customerId":{"type":"string"}}}}}},"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/customer-segments/{id}/members/{customerId}":{"delete":{"summary":"Remove um cliente do segmento","tags":["Clientes (loja)"],"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true},{"schema":{"type":"string"},"in":"path","name":"customerId","required":true}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/orders/{id}/invoice":{"get":{"summary":"[FAKE] NF-e do pedido (gera na 1ª chamada, se pago)","tags":["Comunicações"],"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/email-outbox":{"get":{"summary":"[FAKE] E-mails que \"seriam\" enviados","tags":["Comunicações"],"parameters":[{"schema":{"type":"string"},"in":"query","name":"template","required":false},{"schema":{"type":"integer","minimum":1,"default":1},"in":"query","name":"page","required":false},{"schema":{"type":"integer","minimum":1,"maximum":200,"default":50},"in":"query","name":"pageSize","required":false}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/sandbox/erp/sync":{"post":{"summary":"[FAKE] Sincroniza um payload com o ERP mock","tags":["Comunicações"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/sandbox/crm/sync":{"post":{"summary":"[FAKE] Sincroniza um payload com o CRM mock","tags":["Comunicações"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/sandbox/marketplace/sync":{"post":{"summary":"[FAKE] Sincroniza um payload com o MARKETPLACE mock","tags":["Comunicações"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/store/api-keys":{"get":{"summary":"Lista as chaves de API do grupo (só o prefixo é visível)","tags":["Configurações"],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}},"post":{"summary":"Cria uma nova API key nomeada. A chave em texto aparece só uma vez.","tags":["Configurações"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","minLength":1,"maxLength":60}}}}}},"security":[{"apiKey":[],"studentRm":[]}],"responses":{"201":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"prefix":{"type":"string"},"apiKey":{"type":"string"}}}}}}}}},"/v1/store/api-keys/{id}":{"delete":{"summary":"Revoga uma API key (deixa de autenticar imediatamente)","tags":["Configurações"],"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/store/settings":{"get":{"summary":"Configuração da loja (regional + identidade/contato/tema/fiscal)","tags":["Configurações"],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}},"put":{"summary":"Atualiza a configuração da loja","tags":["Configurações"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"properties":{"locale":{"type":"string"},"currency":{"type":"string"},"timezone":{"type":"string"},"storeName":{"type":"string","nullable":true},"storeDescription":{"type":"string","nullable":true},"logoUrl":{"type":"string","nullable":true},"supportEmail":{"type":"string","nullable":true},"whatsapp":{"type":"string","nullable":true},"instagram":{"type":"string","nullable":true},"primaryColor":{"type":"string","nullable":true},"address":{"type":"string","nullable":true},"cnpj":{"type":"string","nullable":true}}}}}},"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/store/members":{"get":{"summary":"Lista os alunos (RM) do grupo","tags":["Configurações"],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}},"post":{"summary":"Adiciona um aluno (RM) ao grupo","tags":["Configurações"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["rm","name"],"properties":{"rm":{"type":"string","minLength":1},"name":{"type":"string","minLength":1}}}}}},"security":[{"apiKey":[],"studentRm":[]}],"responses":{"201":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"rm":{"type":"string"},"name":{"type":"string"}}}}}}}}},"/v1/store/members/{rm}":{"delete":{"summary":"Remove um aluno do grupo (não pode remover a si mesmo)","tags":["Configurações"],"parameters":[{"schema":{"type":"string"},"in":"path","name":"rm","required":true}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/store/customers/{id}/export":{"get":{"summary":"[LGPD] Exporta todos os dados de um cliente","tags":["Configurações"],"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/store/customers/{id}":{"delete":{"summary":"[LGPD] Anonimiza um cliente (mantém pedidos p/ integridade)","tags":["Configurações"],"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/teaching/dashboard":{"get":{"summary":"Painel do grupo: missões, XP, badges, nota e o que falta","tags":["Ensino"],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/teaching/ranking":{"get":{"summary":"Ranking de grupos por XP (respeita opt-out)","tags":["Ensino"],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/teaching/submit":{"post":{"summary":"Enviar para correção (snapshot imutável + nota)","tags":["Ensino"],"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/v1/teaching/settings":{"put":{"summary":"Config de ensino do grupo (ex.: opt-out do ranking público)","tags":["Ensino"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"rankingOptOut":{"type":"boolean"}}}}}},"security":[{"apiKey":[],"studentRm":[]}],"responses":{"200":{"description":"Default Response"}}}},"/admin/groups":{"post":{"summary":"Cria um grupo e gera a API key (mostrada UMA vez)","tags":["Admin"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","minLength":1},"students":{"type":"array","items":{"type":"object","required":["rm","name"],"properties":{"rm":{"type":"string"},"name":{"type":"string"}}}}}}}}},"security":[{"adminToken":[]}],"responses":{"201":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"apiKey":{"type":"string","description":"GUARDE AGORA. Não será mostrada de novo."},"students":{"type":"array","items":{"type":"object","properties":{"rm":{"type":"string"},"name":{"type":"string"}}}}}}}}}}},"get":{"summary":"Lista grupos com contagens (alunos, produtos, pedidos, requisições)","tags":["Admin"],"security":[{"adminToken":[]}],"responses":{"200":{"description":"Default Response"}}}},"/admin/groups/{id}/rotate-key":{"post":{"summary":"Gera uma nova API key para o grupo (invalida a anterior)","tags":["Admin"],"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"adminToken":[]}],"responses":{"200":{"description":"Default Response"}}}},"/admin/groups/{id}":{"patch":{"summary":"Ativa ou desativa um grupo","tags":["Admin"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["active"],"properties":{"active":{"type":"boolean"}}}}}},"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"adminToken":[]}],"responses":{"200":{"description":"Default Response"}}}},"/admin/groups/{id}/students":{"post":{"summary":"Adiciona alunos (RM) a um grupo","tags":["Admin"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["students"],"properties":{"students":{"type":"array","items":{"type":"object","required":["rm","name"],"properties":{"rm":{"type":"string"},"name":{"type":"string"}}}}}}}}},"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"adminToken":[]}],"responses":{"200":{"description":"Default Response"}}}},"/admin/logs":{"get":{"summary":"Consulta o log bruto de requisições (com filtros)","tags":["Admin"],"parameters":[{"schema":{"type":"string"},"in":"query","name":"groupId","required":false},{"schema":{"type":"string"},"in":"query","name":"rm","required":false},{"schema":{"type":"string"},"in":"query","name":"path","required":false},{"schema":{"type":"string"},"in":"query","name":"since","required":false,"description":"ISO date. Ex.: 2026-08-01"},{"schema":{"type":"integer","minimum":1,"default":1},"in":"query","name":"page","required":false},{"schema":{"type":"integer","minimum":1,"maximum":200,"default":50},"in":"query","name":"pageSize","required":false}],"security":[{"adminToken":[]}],"responses":{"200":{"description":"Default Response"}}}},"/admin/activity":{"get":{"summary":"Resumo de participação: requisições por grupo e por RM","tags":["Admin"],"description":"A visão-chave de controle: quantas chamadas cada grupo e cada aluno (RM) fez, com a data da última atividade. Ajuda a ver quem realmente integrou.","parameters":[{"schema":{"type":"string"},"in":"query","name":"since","required":false,"description":"ISO date opcional"}],"security":[{"adminToken":[]}],"responses":{"200":{"description":"Default Response"}}}},"/admin/login":{"post":{"summary":"Login de operador (retorna token de 12h)","tags":["Admin"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["email","password"],"properties":{"email":{"type":"string","format":"email"},"password":{"type":"string"}}}}}},"responses":{"200":{"description":"Default Response"}}}},"/admin/operators":{"post":{"summary":"Cria um operador (só ADMIN)","tags":["Admin"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["email","password","role"],"properties":{"email":{"type":"string","format":"email"},"password":{"type":"string","minLength":8},"role":{"type":"string","enum":["ADMIN","MONITOR","VIEWER"]}}}}}},"security":[{"adminToken":[]}],"responses":{"200":{"description":"Default Response"}}},"get":{"summary":"Lista operadores (só ADMIN)","tags":["Admin"],"security":[{"adminToken":[]}],"responses":{"200":{"description":"Default Response"}}}},"/admin/audit":{"get":{"summary":"Log de auditoria de ações sensíveis","tags":["Admin"],"parameters":[{"schema":{"type":"string"},"in":"query","name":"action","required":false},{"schema":{"type":"integer","minimum":1,"default":1},"in":"query","name":"page","required":false},{"schema":{"type":"integer","minimum":1,"maximum":200,"default":50},"in":"query","name":"pageSize","required":false}],"security":[{"adminToken":[]}],"responses":{"200":{"description":"Default Response"}}}},"/admin/teaching/evaluate":{"post":{"summary":"Avalia as missões (um grupo ou todos)","tags":["Admin"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"groupId":{"type":"string"}}}}}},"security":[{"adminToken":[]}],"responses":{"200":{"description":"Default Response"}}}},"/admin/teaching/class":{"get":{"summary":"Visão da turma: XP/nota por grupo e por aluno","tags":["Admin"],"security":[{"adminToken":[]}],"responses":{"200":{"description":"Default Response"}}}},"/admin/teaching/ranking":{"get":{"summary":"Ranking completo (professor vê todos)","tags":["Admin"],"security":[{"adminToken":[]}],"responses":{"200":{"description":"Default Response"}}}},"/admin/teaching/groups/{id}":{"get":{"summary":"Painel de um grupo específico","tags":["Admin"],"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"security":[{"adminToken":[]}],"responses":{"200":{"description":"Default Response"}}}},"/admin/missions":{"get":{"summary":"Lista as missões","tags":["Admin"],"security":[{"adminToken":[]}],"responses":{"200":{"description":"Default Response"}}},"post":{"summary":"Cria ou atualiza uma missão","tags":["Admin"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["key","title","points","criteria"],"properties":{"key":{"type":"string"},"title":{"type":"string"},"description":{"type":"string"},"phase":{"type":"string"},"points":{"type":"integer","minimum":0},"badgeKey":{"type":"string"},"active":{"type":"boolean"},"criteria":{"type":"object","description":"{ type:'request'|'flow'|'state', ... }"}}}}}},"security":[{"adminToken":[]}],"responses":{"200":{"description":"Default Response"}}}}},"tags":[{"name":"Catálogo","description":"Categorias e produtos"},{"name":"Auth Cliente","description":"Cadastro e login do comprador"},{"name":"Cliente","description":"Endereços e favoritos do cliente logado"},{"name":"Carrinho","description":"Carrinho do cliente logado"},{"name":"Pedidos","description":"Checkout e pedidos (cliente)"},{"name":"Pedidos (loja)","description":"Gestão de pedidos pela loja (X-API-Key)"},{"name":"Clientes (loja)","description":"Clientes e segmentos (loja)"},{"name":"Comunicações","description":"NF-e, e-mails e integrações fake"},{"name":"Pagamento","description":"Pagamento simulado"},{"name":"Estoque","description":"Saldo, movimentação, reserva, depósitos"},{"name":"Webhooks","description":"Registro de webhooks, entregas e assinatura HMAC"},{"name":"Sandbox","description":"Integrações FAKE: pagamento e frete simulados"},{"name":"Relatórios","description":"Vendas, mais vendidos, clientes, estoque (+CSV)"},{"name":"Configurações","description":"Config do grupo e LGPD"},{"name":"Ensino","description":"Missões, XP, badges, ranking e nota (grupo)"},{"name":"Admin","description":"Só o professor (X-Admin-Token / operador)"}]}